<div class="container form-group" style="margin: 10px;">
    <h2>Create todo</h2>
    <form>
        <div class="row">
            <div class="form-group col-md-4">
                <input [(ngModel)]="title" placeholder="Enter the title" class="form-control" name="title"
                    style="min-width: 150px;" />
            </div>
            <div class="form-group col-md-4">
                <input [(ngModel)]="detail" placeholder="Enter the detail" class="form-control" name="detail"
                    style="min-width: 150px;" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" (click)="createToDo()">
                    ADD
                </button>
            </div>
        </div>
    </form>
</div>
<hr />
<div style="margin: 10px; padding-left: 15px;">
    <h3>My todo list:</h3>
    <div *ngIf="todoError?.message">
        <div class="alert alert-danger" role="alert">
            Some error occurred. Please try again
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Detail</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of toDoList; let i = index;" (click)="selectRow(todo)">
                <td>{{ todo.title }}</td>
                <td>{{ todo.detail }}</td>
                <td>{{ todo.date }}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateToDo(i)">EDIT</button>
                    <button class="btn btn-primary" style="margin-left: 10px;" (click)="deleteToDo(i)">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>